
.login-page {
  display: block;
}
.create input[type=submit] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
ul{
  padding: 0px;
}
.form {
  padding: 0px;
}
.form a {
  text-decoration: none;
  color: #000;
  list-style-type: none;
  text-align: center;
  font-size: 22px;
  display: block;
  font-family: Arial;
}
.form a:hover{
  color: #4d4d4d;
}
.logOut{
  display: inline-block;
}
header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover:not(.active) {
  background-color: #33C6FF;
}

header .active {
  background-color: #337CFF;
}
li a {
  text-decoration: none;
  list-style-type: none;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
h2 {
  text-decoration: none;
  list-style-type: none;
}

.login-form input[type=submit] {
  display: block;
  text-align: center;
}

